* {
  box-sizing: border-box;
}

#q4Wrapper {
  background-color: #2a3035;
  font-family: Roboto, sans-serif;
  color: white;
}
#q4Wrapper .layout_title,
#q4Wrapper .reports_title {
  margin: 0;
}
#q4Wrapper .layout_title {
  font-size: 48px;
}
#q4Wrapper .reports_title {
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}
#q4Wrapper .layout_header,
#q4Wrapper .reports_docs {
  background-color: #22272b;
}
#q4Wrapper .layout_header {
  padding: 20px;
}
#q4Wrapper .reports_docs {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
}
#q4Wrapper .reports_item {
  text-align: center;
}
#q4Wrapper .reports_item img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}
#q4Wrapper .reports_title_cta {
  display: inline-block;
  text-decoration: none;
  color: white;
  transition: transform 0.3s ease;
}
#q4Wrapper .reports_title_cta span {
  opacity: 0.5;
}
#q4Wrapper .reports_title_cta:hover {
  transform: scale(1.05);
}

.layout_inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px 20px;
}
.layout_header {
  margin-bottom: 30px;
  text-align: center;
}

/* Begin styling the report items here! */
.reports {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reports_item {
  padding-left: 15px;
  padding-right: 15px;
  margin-bottom: 30px;
  width: 33.33333333%;
}

.reports_item img {
  display: block;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}

@media (max-width: 768px) {
  #q4Wrapper .reports_title {
    margin-bottom: 15px;
  }

  #q4Wrapper .reports_title span {
    display: block;
  }

  .reports_item {
    width: 50%;
  }

  .reports_item img {
    height: auto;
  }
}
